html, body {
    overflow: hidden;
}

.app-container {
    height: 100vh;
    padding-top: 75px;
}

body {
    background-color: #111111;
    /* color: #ffffffe6; */
}

body ::-webkit-scrollbar {
    width: 10px; /* Adjust width */
}

body ::-webkit-scrollbar-thumb {
    background-color: #555; /* Scrollbar thumb color */
    border-radius: 5px; /* Optional: Rounded corners */
}

body ::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Scrollbar track color */
}

.dark-theme {
    background-color: #1b1c1d !important;
}

.dark-theme div, a {
    color: #ffffffe6 !important;
    background-color: #1b1c1d !important;
}

.dark-theme input, textarea {
    color: #ffffffb3 !important;
    background-color: #2d2e2f !important;
}

.dark-theme input::placeholder, textarea::placeholder {
    color: #ffffffb3 !important;
}

.genre-selector-grid {
    margin: 10px 0px 0px 0px !important;
}

.genre-selector-column {
    padding: 0px !important;
}