/* This file is meant for styling involing the entire animes feature. */

.anime-list-container {
    overflow: auto;
    max-height: 650px;
    border: solid white 1px;
    border-radius: 5px;
}

.anime-details {
    background-color: blue !important;
}